<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Работа мечты!</title>
    <th:block th:include="blocks/css :: head"/>
</head>
<body>
<div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Работа мечты</a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" th:href="@{/index}">Главная</a>
                <a class="nav-item nav-link" th:href="@{/posts}">Вакансии</a>
                <a class="nav-item nav-link active" href="#">Добавить вакансию<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" th:href="@{/candidates}">Кандидаты</a>
                <a class="nav-item nav-link" th:href="@{/formAddCandidate}">Добавить кандидата</a>
            </div>
        </div>
    </nav>

    <div class="row">
        <div class="card" style="width: 100%">
            <div class="card-header">
                Новая вакансия.
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label>Имя
                            <input type="text" class="form-control">
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>