<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Работа мечты!</title>
    <th:block th:include="blocks/css :: head"/>
</head>

<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Работа мечты</a>
        <th:block th:include="blocks/button :: button" />
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Главная <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" th:href="@{/posts}">Вакансии</a>
                <a class="nav-item nav-link" th:href="@{/formAddPost}">Добавить вакансию</a>
                <a class="nav-item nav-link" th:href="@{/candidates}">Кандидаты</a>
                <a class="nav-item nav-link" th:href="@{/formAddCandidate}">Добавить кандидата</a>
                <a class="nav-item nav-link" th:href="@{/formRegistration}">Регистрация</a>
                <a class="nav-item nav-link" th:href="@{/loginPage}">Войти</a>
            </div>
        </div>
    </nav>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>