<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Работа мечты!</title>
    <th:block th:include="blocks/css :: head"/>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Работа мечты</a>
        <th:block th:include="blocks/button :: button" />
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" th:href="@{/index}">Главная</a>
                <a class="nav-item nav-link active" href="#">Вакансии<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" th:href="@{/formAddPost}">Добавить вакансию</a>
                <a class="nav-item nav-link" th:href="@{/candidates}">Кандидаты</a>
                <a class="nav-item nav-link" th:href="@{/formAddCandidate}">Добавить кандидата</a>
            </div>
        </div>
    </nav>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Вакансия</th>
                <th scope="col">Описание</th>
                <th scope="col">Город</th>
                <th scope="col">Дата</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post: ${posts}">
                <td th:text="${post.id}"></td>
                <td>
                    <a th:href="@{|/formUpdatePost/${post.id}|}">
                        <i class="fa fa-edit"></i>
                    </a>
                    <span th:text="${post.name}"></span>
                    <span th:if="${post.visible}">
                        <i class="fa fa-check-square-o"></i>
                    </span>
                    <span th:if="${!post.visible}">
                        <i class="fa fa-square-o"></i>
                    </span>
                </td>
                <td th:text="${post.description}"></td>
                <td th:each="city : ${cities}" th:if="${city.id}==${post.city.id}" th:text="${city.name}" ></td>
                <td th:text="${post.created}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>