<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="blocks/css :: css">
    <title>Работа мечты!</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Работа мечты<small th:text="${user}"></small></a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" th:href="@{/index}">Главная</a>
                <a class="nav-item nav-link" th:href="@{/posts}">Вакансии</a>
                <a class="nav-item nav-link active" href="#">Добавить вакансию<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" th:href="@{/candidates}">Кандидаты</a>
                <a class="nav-item nav-link" th:href="@{/formAddCandidate}">Добавить кандидата</a>
                <div th:replace="blocks/enter :: enter"></div>
            </div>
        </div>
    </nav>
    <div class="row pt-3">
        <div class="card" style="width: 100%">
            <div class="card-header">
                Редактирование вакансии
            </div>
            <div class="card-body">
                <form th:action="@{/updatePost}" method="POST" th:object="${post}">
                    <input type="hidden" name="id" th:field="*{id}"/>
                    <div class="form-group">
                        <label for="name">Название</label>
                        <input type="text" class="form-control" name="name" id="name" th:field="*{name}">
                    </div>
                    <div class="form-group">
                        <label for="description">Описание</label>
                        <input type="text" class="form-control" name="description" id="description" th:field="*{description}">
                    </div>
                    <div class="form-group">
                        <label for="city.id">Город</label>
                        <select class="form-control" id="city.id" name="city.id">
                            <option th:each="city : ${cities}" th:value="${city.id}" th:text="${city.name}"></option>
                        </select>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" name="visible" class="form-check-input" id="visible" th:field="*{visible}">
                        <label class="form-check-label" for="visible">Опубликовать</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>